.detail-container{
    border-radius: 15px;
    background: #96BFDB;
    margin-top: -1.5rem;
    height: 50px;
}

.white-text{
    color: #FFFF;
}

.ion-card-header-custom{
    margin-top: -0.5rem;
}

.detail-tittle{
    font-size: 12px;
}

.detail-row{
    margin-top: -0.4rem;
    margin-left: 1rem;
}

.ion-card-custom{
    border-radius: 15px;
    width: 352px;
    height: 151px;
    flex-shrink: 0;
    margin-left: 6rem;
    background: #69A6C9;
}