 <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="home" class="custom-tab-button">
         Upcoming
      </ion-tab-button>
      <ion-tab-button tab="radio" class="custom-tab-button">
         Complete
      </ion-tab-button>
      <ion-tab-button tab="library"  class="custom-tab-button">
         Canceled
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>  
 </ion-content>
