.main-content-container{
    padding: 3rem;
}

.label{
    margin-left: 0.5rem;
    width: 3rem;
}

.upcoming-appointment{
    width: fit-content;
}

.see-all-btn{
    margin-top: 18px;
    float: right;
    font-weight: 600;
}

.title-col{
    margin-top: 25px;
}