.detail-container{
    border-radius: 15px;
    background: #96BFDB;
    margin-top: -1.5rem;
}

small, strong, ion-icon{
    color: #FFFF;
}

ion-card{
    border-radius: 15px;
    width: 352px;
    height: 151px;
    flex-shrink: 0;
    background: #69A6C9;
}