.detail-container{
    border-radius: 15px;
    background: #96BFDB;
    margin-top: -1.5rem;
    height: 50px;
}
 

.ion-card-header-custom{
    margin-top: -0.5rem;
}

.detail-tittle{
    font-size: 12px;
}

.detail-row{
    margin-top: -0.4rem;
    margin-left: 1rem;
} 