<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4.2">
          <a  href="/pharmacy">         
             <ion-icon name="chevron-back-outline"></ion-icon>
          </a>
        </ion-col>
        <ion-col>
          <ion-title>
            Prescription
          </ion-title>
        </ion-col>
        
       </ion-row>
    </ion-grid>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let result of results">
      <ion-card color="primary" class="card-container" (click)="onSelectPatient(result.patientId)" style="width: 28rem;"> 
        <ion-card-content> 
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-avatar>
                  <div *ngIf="result.gender === 'F'; else male">
                    <img  alt="Female avatar" src="../../assets/Avatar 1.png" />
                  </div>
                  <ng-template  #male>
                    <img  alt="Male avatar" src="../../assets/Avatar 5.png" />
                  </ng-template>
                </ion-avatar>
              </ion-col>
              <ion-col size="8">
                <strong style="font-size: 1rem;">{{ result.name }} {{result.lastName}}</strong>
                <p><strong>Cel: </strong>{{result.phoneNumber}}</p>
                <p><strong>ID: </strong>{{result.documentNumber}}</p>
              </ion-col>
              <ion-col class="arrow-col">
                <ion-icon style="text-align: center;" name="chevron-forward-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-label onclick="onSelectPatient"></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
